{% extends 'admin/dashboard.html' %}
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
{% block content %}
<div class="container">
  <div style="background-color:#FFFFF0;" class="container">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div style="background-color:#FFFFF0;" class="card-body">
          {% comment %} <h4 class="card-title">Striped Table</h4> {% endcomment %}
          {% comment %} <p class="card-description">
            Add class <code>.table-striped</code>
          </p> {% endcomment %}
          <div class="row">
                    <div class="col-sm-6">
						<h2>Manage <b>Categories</b></h2>
					</div>
          <div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"></i> <span>Add New Category</span></a>

					</div>

          <div style="background-color:#FFFFF0;" class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Categoryname</th>
                  <th>Description</th>
                  <th>Image</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for item in datas  %}
                <tr>
                  <td>{{item.category_name}}</td>
                  <td>{{item.category_desc}}</td>
				  <td><img src="{{ item.category_image.url }}" alt="Category Image" style="max-width: 70px; max-height: 70px;"></td>

                  <td>




			<a href="#editEmployeeModal-{{ forloop.counter }}" class="btn btn-primary" data-toggle="modal">Edit</a>
            <a href="#deleteEmployeeModal-{{ forloop.counter }}" class="btn btn-danger" data-toggle="modal">Delete</a>
         </td>
				  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
          	<!-- add Modal HTML -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{% url 'customadminapp:add_category' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-header">
						<h4 class="modal-title">Add Category</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Category Name</label>
							<input type="text" name="category_name" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Category Description</label>
							<input type="text" name="category_desc" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Category Image</label>
							<input type="file" name="category_image" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>
			</div>
		</div>
	</div>
			{% if error %}
<div class="container">
    <div class="alert alert-danger">
        {{ error }}
    </div>
</div>
{% endif %}

	<!-- Edit Modal HTML -->
	{% for i in datas %}
	<div id="editEmployeeModal-{{ forloop.counter }}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">

			<form action="{% url 'customadminapp:update_category' i.id %}" method="post" enctype="multipart/form-data">
<!--			<form action="customadminapp/update_category/{{i.id}}" method="post" enctype="multipart/form-data">-->

				{% csrf_token %}

					<div class="modal-header">
						<h4 class="modal-title">Edit Category</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Category Name</label>
							<input type="text" name="category_name" value="{{i.category_name}}" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Description</label>
							<input type="text" name="category_desc" value="{{i.category_desc}}" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Category Image</label>
							<input type="file" name="category_image" value="{{i.category_image}}" class="form-control" >
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-info" value="Update">
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endfor %}


	<!-- Delete Modal HTML -->
	{% for i in datas %}
	<div id="deleteEmployeeModal-{{ forloop.counter }}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Delete Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete these Records?</p>
						<p class="text-warning"><small>The details of {{i.category_name}} are going to delete </small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<a href="{% url 'customadminapp:delete_category' i.id %}"  type="submit" class="btn btn-danger">Delete</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}

